= @envelope.name

%table.table
  %thead
    %tr
      %th Date
      %th Merchant
      %th Category
      %th Amount
  %tbody
    - @envelope.transactions.each do |txn|
      %tr
        %td= txn.date.strftime("%b %d")
        %td= txn.merchant
        %td= txn.category
        %td= as_money txn.amount
    %tr
      %td(colspan=3)
        %b Envelope Balance
      %td= as_money @envelope.balance
